<nav class="nav">
    <div class="container">
        <header class="logo">blog</header>
        <ul>
            <li><a class="{{activeOne}}" href="/">What's new</a></li>
            <li><a class="{{activeTwo}}" href="/add">Add</a></li>
        </ul>
    </div>
</nav>