<aside>
    <div class="search">
        <input type="search" placeholder="Search..." disabled>
        <i class="fa-solid fa-magnifying-glass"></i>
    </div>
    <div class="content">
        <h3>About Author</h3>
        <i class="fa-solid fa-user"></i>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae voluptatum, in ipsam fuga ducimus qui tenetur animi accusantium minus harum.</p>
    </div>
</aside>
